body {
	margin: 0px;
	background-color: #ececec;
	font-family: bariol, sans-serif;
	font-size: 1.2em;
	color: #808080;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
}

a {
	text-decoration: none;
	color: #2980b9;
}

.title {
  text-align: center;
	margin-top: 20px;
}

.container {
	max-width: 90%;
	margin: 0px auto;
}
